<div
    data-component="instant-search-product-filter-widget"
    data-query-keyword="q"
    data-collection-id="{{ collection.id }}"
    data-on-after-add-wishlist=""
    data-on-after-remove-wishlist=""
    data-on-after-render-product=""
></div>

{% schema %}
{
  "name": "Product Filter",
  "target": "section",
  "settings": []
}
{% endschema %}