<div
    data-component="instant-search-widget"
    data-width-element="400px"
    data-on-after-add-wishlist=""
    data-on-after-remove-wishlist=""
    data-on-after-render-product=""
></div>

{% schema %}
{
  "name": "Search Field",
  "target": "section",
  "settings": []
}
{% endschema %}