<div
    data-component="instant-search-result-widget"
    data-query-keyword="q"
    data-on-after-add-wishlist=""
    data-on-after-remove-wishlist=""
    data-on-after-render-product=""
></div>

{% schema %}
{
  "name": "Search Result",
  "target": "section",
  "settings": []
}
{% endschema %}