<div
    data-component="instant-search-icon-widget"
    data-icon-size="sm"
    data-on-after-add-wishlist=""
    data-on-after-remove-wishlist=""
    data-on-after-render-product=""
    data-query-keyword="q"
></div>

{% schema %}
{
  "name": "Search Icon Popup",
  "target": "section",
  "settings": []
}
{% endschema %}